.venv
.git
**/__pycache__
.pytest_cache
**/.DS_Store
**/*.pyc
.ruff_cache
.mypy_cache
.coverage
htmlcov
infrastructure/node_modules
infrastructure/cdk.out
infrastructure/lib/*.js
infrastructure/lib/*.d.ts
infrastructure/test/*.js
infrastructure/test/*.d.ts
.cache
node_modules
dist
build
*.egg-info
